body{font-family:sans-serif;
  font-size: 110%;
  
   /* adds blue image to the background  */
  background-image: url(../images/blue.png); 

  }
  
  a:hover{color: whitesmoke;}
  
  header{ 
    text-align: center;
    background-color: lightblue;
    margin: auto;
  }
  #heading{
    font-family: sans-serif;
   
  }
#jumbo{
  background: lightblue;
}
 
  #profilephoto{
    width: 9rem;
    border-radius: 50%;
    height: 9rem;
    border: 3px solid blue;
    
    
  }

 
  
  .main{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: justify;
    margin-left: auto;
   
  }
  
 .navmain{
   padding: 1.5%;
   
 } 
  
  .icons{
    width: 9.5rem;
    height: 9.5rem;
    mix-blend-mode: multiply;
    animation-name: icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    

  }
  @keyframes icon {
    0%{transform: translateX(5px);}
    30%{transform: translateX(10px)}
    60%{transform: translateX(4px)}
    100%{transform: translateX(2px)}
    
  }
  footer{
    background-color: rgb(206, 255, 255);
    text-align: center;
    border: 5rem;
  }



/* media allows for the chnage is website for different screens  */
@media only screen and (min-width: 768px) {
  .con{ background-color: green; }
} 
@media only screen and (min-width: 992px) {
  .con { background-color: yellow; 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  }}
  @media only screen and (min-width: 1200px) {
    .con { background-color: orange;
      display: inline-block;
      margin-left: auto;
      margin-right: auto; }}



textarea{
  height: 140px;
}




