body{font-family:sans-serif;
  font-size: 110%;
  background-color: cornflowerblue; 
  
  }
  
  a:hover{color: whitesmoke;}
  
  header{ 
    text-align: center;
    background-color: lightblue;
    margin: auto;
  }
  #heading{
    font-family: sans-serif;
   
  }
  #profilephoto{
    width: 9rem;
    border-radius: 50%;
    height: 9rem;
    border: 3px solid blue;
  }
  
  .main{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: justify;
    margin-left: auto;
   
    
  
  }
  
  #sidebar{
    width: 20%;
    background-color: lightblue;
    padding: 0.5rem;
    color: black;
  }
  .nav{
    list-style-type: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
  }
  .icons{
    width: 9.5rem;
    margin: 0.5rem;
    height: 9.5rem;
    mix-blend-mode: multiply;
  }
footer{
  background-color: rgb(206, 255, 255);
  text-align: center;
  border: 5rem;

}  

@media only screen and (min-width: 768px) {
  .con{ background-color: green; }
} 
@media only screen and (min-width: 992px) {
  .con { background-color: yellow; 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  }}
  @media only screen and (min-width: 1200px) {
    .con { background-color: orange;
      display: inline-block;
      margin-left: auto;
      margin-right: auto; }}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.header{
  grid-area: hd;
}
.footer {
  grid-area: ft;
}

#sidebar {
  grid-area: span;
}
#content{
  grid-area: sd;
}


